@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 240, 240);
    .lp-main {
        .lp-header {
            background-image: linear-gradient(to right top, #8e4296, #7f3e87, #713978, #633569, #56305b);
            position: relative;
            .lp-navbar {
                position: relative;
                height: 65px;
                display: flex;
                flex-flow: row wrap;
                @media (max-width: 768px) {
                    height: unset;
                }
                .lp-navbar-container {
                    align-items: center;
                    display: flex;
                    flex-flow: row wrap;
                    margin: 0 auto;
                    width: 50%;
                    @media (max-width: 1200px) {
                        width: 75%;
                    }
                    @media (max-width: 960px) {
                        width: 95%;
                    }
                    @media (max-width: 768px) {
                        padding: 1rem 0;
                    }
                    div {
                        display: flex;
                        flex: 1 0;
                        align-items: center;
                        @media (max-width: 768px) {
                            flex-basis: 100% !important;
                            justify-content: center !important;
                        }
                        &.lp-navbar-start {
                            flex-flow: row wrap;
                            flex-basis: 25%;
                            span {
                                @media (max-width: 768px) {
                                    display: flex;
                                    flex: 1 0 calc(100% / 2);
                                    align-items: center;
                                }
                                &.lp-navbar-brand {
                                    color: white;
                                    font-weight: 600;
                                }
                                &.lp-navbar-button {
                                    display: none;
                                    cursor: pointer;
                                    font-size: 1.75rem;
                                    color: white;
                                    @media (max-width: 768px) {
                                        display: flex;
                                        justify-content: flex-end;
                                    }
                                }
                            }
                        }
                        &.lp-navbar-end {
                            flex-basis: 75%;
                            justify-content: flex-end;
                            &.lp-navbar-opened {
                                display: flex;
                            }
                            @media (max-width: 768px) {
                                display: none;
                                margin: 1rem 0 0;
                            }
                            .lp-navbar-menu {
                                display: flex;
                                flex-flow: row wrap;
                                @media (max-width: 768px) {
                                    width: 50%;
                                }
                                .lp-navbar-item {
                                    display: flex;
                                    flex: 1 0;
                                    cursor: pointer;
                                    padding: 0 2rem;
                                    align-items: center;
                                    height: 65px;
                                    @media (max-width: 768px) {
                                        flex-basis: 100%;
                                        justify-content: center;
                                        margin: 0;
                                        list-style-type: none;
                                        padding: 1rem 0;
                                        width: 100%;
                                        height: unset;
                                    }
                                    &:hover {
                                        background-color: rgba(255, 255, 255, 0.075);
                                    }
                                    .lp-navbar-link {
                                        color: white;
                                        text-decoration: none;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .lp-introduction {
                display: flex;
                flex-flow: row wrap;
                width: 50%;
                margin: 0 auto;
                padding: 10rem 0 20rem;
                @media (max-width: 768px) {
                    width: 75%;
                }
                .lp-container {
                    display: flex;
                    flex: 1 0;
                    justify-content: center;
                    align-items: center;
                    .lp-text {
                        width: 50%;
                        text-align: center;
                        @media (max-width: 1400px) {
                            width: 75%;
                        }
                        @media (max-width: 960px) {
                            width: 100%;
                        }
                        .lp-title {
                            text-transform: uppercase;
                            color: white;
                            margin: 0 0 1rem;
                        }
                        .lp-paragraph {
                            color: white;
                            opacity: 0.8;
                            font-weight: 300;
                        }
                        .lp-buttons {
                            display: flex;
                            flex-flow: row wrap;
                            margin: 2rem 0;
                            .lp-button {
                                display: flex;
                                flex: 1 0;
                                justify-content: center;
                                border-radius: 50px;
                                font-weight: 300;
                                padding: 1rem 0;
                                margin: 0 1rem;
                                background-color: #633569;
                                color: white;
                                text-decoration: none;
                                transition: background-color 0.1s ease;
                                flex-basis: calc(50% - 2rem);
                                &:hover {
                                    background-color: #56305b;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lp-section {
            display: flex;
            flex-flow: row wrap;
            position: relative;
            z-index: 10;
            &.lp-product {
                .lp-container {
                    display: flex;
                    flex: 1 0;
                    justify-content: center;
                    align-items: center;
                    .lp-product-image {
                        position: absolute;
                        height: 450px;
                        width: 900px;
                        object-fit: cover;
                        background-position: center center;
                        @media (max-width: 1400px) {
                            width: 75%;
                        }
                    }
                }
            }
            &.lp-features {
                margin: 17.5rem 0 0;
                justify-content: center;
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
}