@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    .lp-main {
        .lp-header {
            background-image: linear-gradient(to right top, #8e4296, #7f3e87, #713978, #633569, #56305b);
            position: relative;
            .lp-navbar {
                position: relative;
                .lp-navbar-container {
                    padding: 1rem 0;
                    display: flex;
                    flex-flow: row wrap;
                    margin: 0 auto;
                    width: 50%;
                    @media (max-width: 1200px) {
                        width: 75%;
                    }
                    @media (max-width: 960px) {
                        width: 95%;
                    }
                    div {
                        display: flex;
                        flex: 1 0;
                        align-items: center;
                        @media (max-width: 768px) {
                            flex-basis: 100% !important;
                            justify-content: center !important;
                        }
                        &.lp-navbar-start {
                            flex-flow: row wrap;
                            flex-basis: 25%;
                            span {
                                @media (max-width: 768px) {
                                    display: flex;
                                    flex: 1 0 calc(100% / 2);
                                    align-items: center;
                                }
                                &.lp-navbar-brand {
                                    color: white;
                                    font-weight: 600;
                                }
                                &.lp-navbar-button {
                                    display: none;
                                    cursor: pointer;
                                    font-size: 2rem;
                                    color: white;
                                    @media (max-width: 768px) {
                                        display: flex;
                                        justify-content: flex-end;
                                    }
                                }
                            }
                        }
                        &.lp-navbar-end {
                            flex-basis: 75%;
                            justify-content: flex-end;
                            @media (max-width: 768px) {
                                display: none;
                            }
                            .lp-navbar-menu {
                                display: flex;
                                flex-flow: row wrap;
                                @media (max-width: 768px) {
                                    width: 50%;
                                }
                                .lp-navbar-item {
                                    display: flex;
                                    flex: 1 0;
                                    margin: 0 0.5rem;
                                    padding: 0.75rem 2rem;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    @media (max-width: 768px) {
                                        flex-basis: 100%;
                                        justify-content: center;
                                        margin: 0;
                                        list-style-type: none;
                                        padding: 1rem 0;
                                        width: 100%;
                                    }
                                    &:hover {
                                        background-color: rgba(255, 255, 255, 0.075);
                                    }
                                    .lp-navbar-link {
                                        color: white;
                                        text-decoration: none;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
}